h2{
    display: flex;
justify-content: center;
}
.Review{
    margin-left: 20px;
}
.buy{
    float: right ;
   width: 20%;
   height: 40px;
   color: blanchedalmond;
   background-color: rgba(0, 0, 255, 0.606);
   font-size: large;
   font: bold;
   margin-top: 25px;
   margin-right:20px ;
}
.card{
    padding-left: 20px;
}