.container {
  margin: 0 9%;
}
.mainlogo {
  float: left;
}
.USA {
  width: 15%;
}
.topoptions {
  display: flex;
  justify-content: right;
  gap: 10px;
}
.RENT {
  font-size: 13px;
  margin-top: 30px;
  margin-left: 125px;
  padding-top: 30px;
}

.mainoptions {
  display: flex;
  background-color: gainsboro;
  justify-content: space-around;
  margin: 30px 0 30px 0;
  height: 20px;
  padding-top: 25px;
}

.steps {
  height: 35px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
}

.descriptions {
  float: left;
}
.lastrow {
  float: right;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.secondcolumn {
  width: 31%;
  padding-right: 30px;
}
.itinerary {
  background-color: rgba(166, 218, 236, 0.39);
  width: 100%;
  margin-bottom: 2px;
}
.sidenav {
  display: flex;
  justify-content: left;
}
.caroptions {
  float: left;
}
