.container {
  margin: 0 50px 0 10px;
  width: 90%;
}

.bottomline {
  border-bottom: 5px solid rgb(35, 154, 233);
  height: 70px;
}
img {
  width: 300px;
  height: 80px;
  float: right;
}
.img2 {
  background-image: url("images/pushbuttons-reduced-Copy.jpg");
  height: 170px;
  width: 160px;
  float: left;
  margin-right: 10px;
}
.intro {
  font-weight: bold;
  font-size: 20px;
}
.para1 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.para {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  padding-bottom: 10px;
}
.one {
  padding-bottom: 5px;
}
.two {
  padding-bottom: 5px;
}
.three {
  padding-bottom: 5px;
}
.Title {
  border: 1px solid green;
  height: 220px;
  width: 300px;
  font-size: 10px;
  border-radius: 15px;
  float: left;
  margin: 5px;
}
.build {
  font-weight: bold;
  margin: 10px;
  font-size: 20px;
}
.para2 {
  margin: 4px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
  font-size: 11px;
}
.footer {
  background-color: rgb(35, 154, 233);
  margin-top: 15px;
}
.footer a + a::before {
  content: "|";
}
.copyright {
  float: right;
}
.boxes {
  height: 220px;
  margin-top: 50px;
}
